<div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
				<div class="thumbnail">
					<img src="../assets/img/e.jpg" alt="">
				</div>
              </div>
              <div class="item">
				<div class="thumbnail">
					<img src="../assets/img/d.jpg" alt="">
				</div>
              </div>
              <div class="item">
				<div class="thumbnail">
					<img src="../assets/img/ds.jpg" alt="">
				</div>
              </div>
			  <div class="item">
				<div class="thumbnail">
					<img src="../assets/img/ADSELL.png" alt="">
				</div>
			  </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div><br>
				  <div class="well">
				  <h1>To our valued dealers...</h1><br>
				  <blockquote>
				  <p>ADSell is a direct selling service company which cater the number of dealers who sell products for their living and additional income as investors.</p>
				  <p>
				  ADSell primarily supervise and monitor our valued dealers respectively, the service center help the people to economize and treasure the importance of being a dealer.</p>
				  <p>
				  ADSell share the trust, love and respect through their valued dealers all over the country.
				  </p>
				  <small>ADSell Team<cite title="Source Title"></cite></small>
				  </blockquote>
				</div>