<div>
	<ul class="breadcrumb">
		<li><a href="#/">Home</a><span class="divider">/</span> </li>
		<li class="active">Products</li>
	</ul>
	<input type="search" class="span5 search-query" placeholder="Search Products" ng-model="query"> 
		
	<table class="table table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Brand</th>
				<th>Category</th>
				<th>Company</th>
				<th>Price</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in products | filter: query">
				<td>{{product.id}} </td>
				<td>{{product.name}} </td>
				<td>{{product.brand.name}} </td>
				<td>{{product.category.name}} </td>
				<td>{{product.company.name}} </td>
				<td>{{product.price | currency:"PhP "}} </td>
				<td>
					<button class="btn btn-small" ng-click="delete(product.id)"><i class="icon-remove"></i>Delete</button>
					<a ng-href="#/product/{{product.id}}" class="btn btn-small"><i class="icon-edit"></i>Edit</a>
				</td>
			</tr>
		</tbody>
	</table>

	<form class="form-horizontal well" ng-submit="submit()">
		<legend>Add new Product</legend>
		<div class="control-group">
			<label for="" class="control-label">Name</label>
			<div class="controls">
				<input type="text"  ng-model="product.name" required>	
			</div>
		</div>
		<div class="control-group">
			<label for="" class="control-label">Description</label>
			<div class="controls">
				<input type="text" ng-model="product.description">
			</div>
		</div>
		<div class="control-group">
			<label for="" class="control-label">Company</label>
			<div class="controls">
				<select ng-model="product.company" ng-options="company.name for company in companies" required></select>
			</div>
		</div>
		<div class="control-group">
			<label for="" class="control-label">Category</label>
			<div class="controls">
				<select ng-model="product.category" ng-options="c.name for c in categories" required></select>
			</div>
		</div>
		<div class="control-group">
			<label for="" class="control-label">Brand</label>
			<div class="controls">
				<select ng-model="product.brand" ng-options="c.name for c in brands" required></select>
			</div>
		</div>
		<div class="control-group">
			<label for="" class="control-label">Price(Php)</label>
			<div class="controls">
				<input type="text" ng-model="product.price" required>
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Add Product</button>
			<button type="button" class="btn" ng-click="cancel()">Clear</button>	
		</div>

	</form>

</div>