<% extends "admin_base.html" %>
<% block title %><%= title %><% endblock %>
<% block content %>
<br><br>
      <div class="row-fluid" ng-controller="MenuCtrl">
        <div class="span3">
			  
		  <!-- side bar for share the love -->
		  <div class="well sidebar-nav"> <!-- other side bar start here-->
            <ul class="nav nav-list">
				<li class="nav-header">Products</li>
              <li ng-class="{active: activePath == '/products'}"><a href="#/products">Products</a></li>
              <li ng-class="{active: activePath == '/company'}"><a href="#/company">Companies</a></li>
              <li ng-class="{active: activePath == '/category'}"><a href="#/category">Categories</a></li>
              <li ng-class="{active: activePath == '/brand'}"><a href="#/brand">Brands</a></li>
              
              <li class="divider"></li> 
              	<li class="nav-header">Orders</li>  
              	<li ng-class="{active: activePath == '/orders'}" ><a href="#/orders">Orders</a></li>   
              	<li ng-class="{active: activePath == '/retex'}" ><a href="#/retex">Return/Exchange</a></li>   
              	<li class="divider"></li> 

              	<li class="nav-header">Dealers</li>
              	<li ng-class="{active: activePath == '/profiles'}"><a href="#/profiles">Dealer List</a></li>

              	<li class="divider"></li> 
              	<li class="nav-header">Reports</li>
              	<li ng-class="{active: activePath == '/stocks'}"><a href="#/stocks">Product Stocks</a></li>
				              	
				<li ng-class="{active: activePath == '/weekly'}"><a href="#/weekly">Weekly Sales</a></li>			<li ng-class="{active: activePath == '/monthly'}"><a href="#/monthly">Monthly Sales</a></li>	
            </ul>
          </div><!-- other side bar end here! -->
		  
        </div><!--/span4 end here!-->
      
		 <div class="span9">
		    <div ng-view></div>
		  </div><!--/row-->
		
       
		
      </div><!--/row fluid outside-->
	  
	  <div class="wrapper">
	  </div class="push"></div>
	  
     <div class="footer">
				<div class="container-fluid">
					<div class="pull-right">
						<div class="span4">
							<dl>
								<dt><font color="gray">Phone</font></dt>
								<dd>
								<p><font color="white">09306673054</font></p>
								</dd>
								<dt><font color="gray">Email</font></dt>
								<dd>
								<a href="mailto:ariesmanian1990@gmail.com"><font color="white">adsell2012@gmail.com</font></a>
								</dd>
							</dl>
						</div>
						
						<div class="span4">
							<address>
								<dl>
								<dt><font color="gray">Address</font></dt>
									<dd>
										<a href="http://adsell.tk"><font color="white">
											Cadelina Bldg., Quezon Street
											<br>
											New Pandan, Panabo City, 
											<br>
											Davao del Norte, Philippines
											</font>
										</a>
									</dd>
								</dl>
							</address>
						</div>
					</div>
					<div id="plusone">
					<div class="g-plusone" data-size="tall"></div>
					</div>
					<p>
					<a href="http://twitter.com">
					<img alt="Twitter" height="64" src="../assets/img/twitter-logo.png" width="64">
					</a>
					<a href="http://www.facebook.com">
					<img alt="Facebook" height="64" src="../assets/img/fb.png" width="64">
					</a>
					<a href="http://www.plus.google.com">
					<img alt="Google" height="64" src="../assets/img/googleplus.png" width="64">
					</a>
					<a href="http://www.pinterest.com">
					<img alt="Google" height="64" src="../assets/img/pin.png" width="64">
					</a>
					
					</p>
					<p><font color="gray">
								&#169; 2012 Alima Direct Selling -</font>
					<a href="/legal"><font color="white">Legal &amp; privacy stuff</font></a>
					</p>
				</div>	
		</div>
<% endblock %>