<!DOCTYPE html>
<html lang="en" ng-app="ads">
  <head>
    <meta charset="utf-8">
    <title><%= title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
	<link href="/assets/css/docs.css" rel="stylesheet">
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/ADS/img/ico/adsell.png">
	 <style type="text/css">
      body {
        padding-top: 70px;
        padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;		
      }
      .sidebar-nav {
        padding: 30px 0;
      }
	  ul.nav li.dropdown:hover ul.dropdown-menu{
        display: block;    
      }
	  a.menu:after, .dropdown-toggle:after {
		content: none;
	  }
	.prod_thumbs{
	 width: 290px;
	 height: 180px;	

	}
      .subcat_img{
        width:640px;
	height:240px;
      }
    </style>
	
  </head>

  <body background="/assets/img/grain.jpg" bgcolor="#333333"> 
  <!-- Navbar
    ================================================== -->
   <% include 'fragments.navbar.html' %>
    <div class="container">  
<!-- Masthead
================================================== -->
  <div class="container">
		<form class="form-search pull-right" action='search.php' method='GET'>        						
			<input class="input-large search-query" name='search' type="text" placeholder="Search Product">
			<input type='submit' class="btn btn-primary" name='submit' value='Search'>
		</form>
   <div class="row">
	<div class="span4">
            
     </div><!--/.span -->
	 <br><br>
	 <div class="span8">	
	<div class="row">
		<div ng-view></div>
    
	</div>
	 </div>
	  </div> <!-- /.row -->
   </div> <!-- /.container fluid -->
     <!-- Footer
      ================================================== -->
	<% include "fragments.footer.html" %>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/angular/angular.js"></script>
    <script type="text/javascript" src="assets/js/angular/angular-resource.js"></script>
    <script src="/assets/js/ads.js"></script>
    
  </body>
</html>
