<% extends "base.html" %>
<% block title %><%= title %><% endblock %>
<% block content %>
<br>
<div class="row-fluid" ng-controller="RegisterCtrl">
    <div class="span12">
		<div class="alert alert-info" ng-show="login">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <strong>Congratularion! you may now <a href="/login">LOGIN HERE</a> </strong>
		</div>
	<h2>Signing Up...</h2>
	<hr>
			<form class="form-horizontal" ng-submit="submit()" >
					<legend>Basic Information:</legend>
				  
				  <div class="control-group {{username_state}}">
					<label class="control-label" for="input01">Username:</label>
					<div class="controls">
					  <input type='text' name='username' ng-model='user.username' ng-change='check_username()' required autofocus>
					  <span class="help-inline" ng-show="username_valid">Username is available</span>
					  <span class="help-inline" ng-show="username_invalid">Username is already taken</span>
					</div>
				  </div>
				  <div class="control-group {{password_state}}">
					<label class="control-label" for="input01">Password:</label>
					<div class="controls">
					  <input type='password' name='password' ng-model="user.password" ng-change="confirm()" required>
					</div>
				  </div>
				  <div class="control-group {{password_state}}">
					<label class="control-label" for="input01">Confirm Password:</label>
					<div class="controls">
					  <input type='password' class='input-large' name='confirmpassword' ng-model="user.password_confirm" ng-change="confirm()" required>
					  <span class="help-inline" ng-show="!password_valid">Password not confirmed</span>
					</div>
				  </div>	
				  <!--
				  <div class="control-group">
					<label class="control-label" for="fileField">Image Input*: </label>
					<div class="controls">
						 <input class="input-file" name="fileField" id="fileField" type="file" />
					</div>
				  </div>
				  -->
				  <legend>Personal Information:</legend>
				  <div class="control-group">
				   
					<label class="control-label" for="name">Firstname:</label>
					<div class="controls">
					  <input type="text" name='fullname' ng-model="profile.fname" required>
					</div>
				  </div>
				  <div class="control-group">
				  	<label for="" class="control-label">Middlename:</label>
				  	<div class="controls">
				  		<input type="text" ng-model="profile.mname" required>
				  	</div>
				  </div>
				  <div class="control-group">
				  	<label for="" class="control-label">Lastname:</label>
				  	<div class="controls">
				  		<input type="text" ng-model="profile.lname" required>
				  	</div>
				  </div>
				  <div class="control-group">
					<label class="control-label" name='_birthday'>Birthday:</label>
					<div class="controls">
				
					  <select class="span2" name='month' ng-model="profile.bday.month" required>
						<option value="">-Month-</option>
							<option value="01">January</option> 
							<option value="02">February</option> 
							<option value="03">March</option> 
							<option value="04">April</option> 
							<option value="05">May</option> 
							<option value="06">June</option> 
							<option value="07">July</option> 
							<option value="08">August</option> 
							<option value="09">September</option> 
							<option value="10">October</option> 
							<option value="11">November</option> 
							<option value="12">December</option>
					  </select>
					  <select class="span2" name='day' ng-model="profile.bday.day" required>
						<option value="">-Date-</option> 
							<option value="01">1</option> 
							<option value="02">2</option> 
							<option value="03">3</option> 
							<option value="04">4</option> 
							<option value="05">5</option> 
							<option value="06">6</option> 
							<option value="07">7</option> 
							<option value="08">8</option> 
							<option value="09">9</option> 
							<option value="10">10</option> 
							<option value="11">11</option> 
							<option value="12">12</option> 
							<option value="13">13</option> 
							<option value="14">14</option> 
							<option value="15">15</option> 
							<option value="16">16</option> 
							<option value="17">17</option> 
							<option value="18">18</option> 
							<option value="19">19</option> 
							<option value="20">20</option> 
							<option value="21">21</option> 
							<option value="22">22</option> 
							<option value="23">23</option> 
							<option value="24">24</option> 
							<option value="25">25</option> 
							<option value="26">26</option> 
							<option value="27">27</option> 
							<option value="28">28</option> 
							<option value="29">29</option> 
							<option value="30">30</option> 
							<option value="31">31</option>
					  </select>
					  <select class="span2" name='year' ng-model="profile.bday.year" required>
							<option value="">-Year-</option>
							<option>1940</option>
							<option>1941</option>
							<option>1942</option>
							<option>1943</option>
							<option>1944</option>
							<option>1945</option>
							<option>1946</option>
							<option>1947</option>
							<option>1948</option>
							<option>1949</option>
							<option>1950</option>
							<option>1951</option>
							<option>1952</option>
							<option>1953</option>
							<option>1954</option>
							<option>1955</option>
							<option>1956</option>
							<option>1957</option>
							<option>1958</option>
							<option>1959</option>
							<option>1960</option>
							<option>1961</option>
							<option>1962</option>
							<option>1963</option>
							<option>1964</option>
							<option>1965</option>
							<option>1966</option>
							<option>1967</option>
							<option>1968</option>
							<option>1969</option>
							<option>1970</option>
							<option>1971</option>
							<option>1972</option>
							<option>1973</option>
							<option>1974</option>
							<option>1975</option>
							<option>1976</option>
							<option>1977</option>
							<option>1978</option>
							<option>1979</option>
							<option>1980</option>
							<option>1981</option>
							<option>1982</option>
							<option>1983</option>
							<option>1984</option>
							<option>1985</option>
							<option>1986</option>
							<option>1987</option>
							<option>1988</option>
							<option>1989</option>
							<option>1990</option>
							<option>1991</option>
							<option>1992</option>
							<option>1993</option>
							<option>1994</option>
							<option>1995</option>
							<option>1996</option>
							<option>1997</option>
							<option>1998</option>
							<option>1999</option>
							<option>2000</option>					
							<option>2001</option>
							<option>2002</option>
							<option>2003</option>
							<option>2004</option>
							<option>2005</option>
							<option>2006</option>
							<option>2007</option>
							<option>2008</option>
							<option>2009</option>
							<option>2010</option>					
					  </select>
					</div>
				  </div>
				  <div class="control-group">
						<label class="control-label" for="input01">Address:</label>
						<div class="controls">
						  <input type='text' class="input-xlarge" name='street' ng-model="profile.address" required>
						</div>
				  </div>
				  
				  <div class="control-group">
						<label class="control-label" for="input01">Mobile Number:</label>
						<div class="controls">
						  <input type='text' class="input-xlarge" name='cnum' ng-model="profile.mobile">
						</div>
				  </div>
				  <div class="control-group">
					<label class="control-label" for="input01">Gender:</label>
						<div class="controls">
							<select name='gender' id='gender' ng-model="profile.gender">
								<option value="">-Select-</option>
								<option value="male">Male</option>
								<option value="female">Female</option>
							</select>
						</div>
				   </div>
				   <div class="control-group">
					<label class="control-label" for="input01">Status:</label>
						<div class="controls">
							<select name='status' id='status' ng-model="profile.status">
								<option value="">-Select-</option>
								<option value="single">Single</option>
								<option value="married">Married</option>
								<option value="widowed">Widowed</option>
							</select>
						</div>
				   </div>
				  <div class="control-group">
						<label class="control-label" for="input01">Nationality:</label>
						<div class="controls">
						  <input type='text' class="input-medium" name='nationality' ng-model="profile.nationality">
						</div>
				  </div>
				  <div class="control-group">
					<label class="control-label" for="textarea">Bio:</label>
					<div class="controls">
					  <textarea class="input-xlarge" name='bio' rows='3' ng-model="profile.bio"></textarea>
					</div>
				  </div><br>
				  <div class="control-group">
					<div class="controls">
					  <label class="radio">
						I agree on the <a href="/tos.html">Terms and Conditions</a> of ADSell. 
						<input type="radio" name="term" id="term" value="option1" required>
					  </label>
					</div>
				  </div>
			
				  <hr>
				 
				  
				 <p align="center"> 
					<input name="submit" type="submit" value="Create my Account" class="btn btn-primary btn-large">
					&nbsp;&nbsp;
					<a href="/" class="btn btn-danger btn-large">Cancel</a>  
				 </p>
			</form>

			

	</div>
</div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>


<% endblock %>
