<% extends "base2.html" %>
<% block title %><%= title %><% endblock %>
<% block content %>
<br /><br />
	<form class="form-search pull-right" action='' method='GET'>        						
		<input class="input-large search-query" name='search' type="text" placeholder="Search Product">
		<input type='submit' class="btn btn-primary" name='submit' value='Search'>
	</form> 
	<br><br>
    <div class="row-fluid">
		<div class="span4"><br>
				<table class="table table-bordered">
					<thead>
						  <th>
							<br>
							<p>&nbsp;<a href=""><i><font face="georgia"></font></i></a></p>
							<p>&nbsp;View my profile</p>
						  </th>
					</thead>
				</table>
					<div class="well">
						  <h3>Notifications</h3><br>
						  <ul id="tab" class="nav nav-tabs">
							<li class="active"><a href="#new" data-toggle="tab"><span class="label label-important">2 New</span>&nbsp;Items</a></li>
							<li><a href="#discounted" data-toggle="tab">Discounted</a></li>
						  </ul> 
						  <div id="myTabContent" class="tab-content">
							<div class="tab-pane fade" id="new">
							  <table class="table table-striped table-bordered table-condensed">	
									<thead>
									  <tr>
										<th width="6%">Product Name</th>
										<th width="3%">Price</th>
									  </tr>
									</thead>	
							   </table>	
							   <p align="right"><a href="">More Items >></a></p>
							</div>
							<div class="tab-pane fade" id="discounted">
							  <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
							</div>
						  </div>
						  <hr>
						  <ul id="tab" class="nav nav-tabs">
							<li class="active"><a href="#balance" data-toggle="tab">&nbsp;Balance</a></li>
							<li><a href="#due" data-toggle="tab">Dues</a></li>
						  </ul> 
						  <div id="myTabContent" class="tab-content">
							<div class="tab-pane fade in active" id="balance">
							  <p>Dealer's Credit</p>
							</div>
							<div class="tab-pane fade" id="due">
							  <p>Dealer's Due Date</p>
							</div>
						  </div>
						  <hr>
						  <ul class="nav nav-list">
							<h3>New Added Items</h3>
						  </ul>
					</div>
						<div class="well">
							  <div>		
								  <p>&#169; 2012 ADSell <a href="../catalog/index.php">Catalog</a> <a href="../order/index.php">Order</a> <a href="../info/tos.php">Terms</a><br> 
								   <a href="../info/about.php">About</a> <a href="../info/privacy.php">Privacy</a> <a href="../info/contact.php">Contact</a></p>
							  </div>			
						</div>
		</div><!--/.span -->
         
		<!-- modal to view profile -->
		<div id="prof" class="modal hide fade">	
             <form class="form-horizontal" action="" name="myForm" id="myform" method="post">
			  <br>
				<div class="modal-header">
				  <a class="close" data-dismiss="modal" >&times;</a>
				  <h4>Profile Information</h4>
				</div>
				 <div class="modal-body">
				   <div class="span11">
					<table class="table table-striped">	
					  <tr>
					  </tr>
					  <tr>
						<th><h4>Dealer ID :</h4></th>
						<td></td>					   
					  </tr>
					  <tr>
						<th><h4>Fullname :</h4></th>
						<td></td>
					  </tr>
					  <tr>
						<th><h4>Username :</h4></th>
						<td></td>
					  </tr>
					  <tr>
						<th><h4>Gender :</h4></th>
						<td></td>
					  </tr>
					  <tr>
						<th><h4>Status :</h4></th>
						<td></td>
					  </tr>
					  <tr>
						<th><h4>Date Joined :</h4></th>
						<td></td>
					  </tr>
					   <tr>
						<th><h4>Street :</h4></th>
						<td></td>					   
					  </tr>
					  <tr>
						<th><h4>City :</h4></th>
						<td></td>
					  </tr>
					  <tr>
						<th><h4>Province :</h4></th>
						<td></td>
					  </tr>
					  <tr>
						<th><h4>Contact Number :</h4></th>
						<td></td>
					  </tr>
					  <tr>
						<th><h4>Nationality :</h4></th>
						<td></td>
					  </tr>
					  <tr>
						<th><h4>Bio :</h4></th>
						<td></td>
					  </tr>
				    </table>		
				   </div>
				 </div>
			 </form>			
        </div> 
		  
			<div class="span8">
				<div id="myCarousel" class="carousel slide">
					<div class="carousel-inner">
					  <div class="item active">
							<div class="thumbnail"> 
								<img src="../assets/img/e.jpg" alt="">
								<div class="carousel-caption">
								  <h4>ADSell says:
								  <p>Always set your goals higher than you could ever possibly reach. That way, when you barely fall short, you're still better than everybody else. </p>
								</div>
							</div> 
					  </div>
					  <div class="item">
							<div class="thumbnail">
								<img src="../assets/img/avon.jpg" alt="">
							</div>
					  </div>
					  <div class="item">
							<div class="thumbnail">
								<img src="../assets/img/ds.jpg" alt="">
								<div class="carousel-caption">
								  <p>Quality begins on the inside... and then works its way out.</p>
								</div>
							</div>
					  </div>
					  <div class="item">
							<div class="thumbnail">
								<img src="../assets/img/mse.jpg" alt="">
							</div>
					  </div>
					  <div class="item">
							<div class="thumbnail">
								<img src="../assets/img/d.jpg" alt="">
								<div class="carousel-caption">
								  <p>The beginning is the most important part of the work.</p>
								</div>
							</div>
					  </div>
					  <div class="item">
							<div class="thumbnail">
								<img src="../assets/img/natasha.jpg" alt="">
							</div>
					  </div>
					  <div class="item">
							<div class="thumbnail">
								<img src="../assets/img/ADSELL.png" alt="">
							</div>
					  </div>
					  <div class="item">
							<div class="thumbnail">
								<img src="../assets/img/ever-bilena.jpg" alt="">
							</div>
					  </div>
					</div>
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
				</div><br>
				<div class="well">
				  <h1>To our valued dealers...</h1><br>
				  <blockquote>
				  <p>ADSell is a direct selling service company which cater the number of dealers who sell products for their living and additional income as investors.</p>
				  <p>
				  ADSell primarily supervise and monitor our valued dealers respectively, the service center help the people to economize and treasure the importance of being a dealer.</p>
				  <p>
				  ADSell share the trust, love and respect through their valued dealers all over the country.
				  </p>
				  <small>ADSell Team<cite title="Source Title"></cite></small>
				  </blockquote>
				</div>
			</div><!--/row-->
	</div> <!-- /.row -->
     <!-- Footer
      ================================================== -->
		<div class="wrapper">
		</div class="push"></div>
		<div class="footer">
				<div class="container-fluid">
					<div class="pull-right">
						<div class="span4">
							<dl>
								<dt><font color="gray">Phone</font></dt>
								<dd>
								<p><font color="white">09306673054</font></p>
								</dd>
								<dt><font color="gray">Email</font></dt>
								<dd>
								<a href="mailto:adsell2012@gmail.com"><font color="white">adsell2012@gmail.com</font></a>
								</dd>
							</dl>
						</div>
						
						<div class="span4">
							<address>
								<dl>
								<dt><font color="gray">Address</font></dt>
									<dd>
										<a href="http://adsell.tk"><font color="white">
											Cadelina Bldg., Quezon Street
											<br>
											New Pandan, Panabo City, 
											<br>
											Davao del Norte, Philippines
											</font>
										</a>
									</dd>
								</dl>
							</address>
						</div>
					</div>
					<div id="plusone">
					<div class="g-plusone" data-size="tall"></div>
					</div>
					<p>
					<a href="http://twitter.com">
					<img alt="Twitter" height="64" src="../assets/img/twitter-logo.png" width="64">
					</a>
					<a href="https://www.facebook.com/pages/ADSell/142602325880399">
					<img alt="Facebook" height="64" src="../assets/img/fb.png" width="64">
					</a>
					<a href="http://www.plus.google.com">
					<img alt="Google" height="64" src="../assets/img/googleplus.png" width="64">
					</a>
					<a href="http://www.pinterest.com">
					<img alt="Pinterest" height="64" src="../assets/img/pin.png" width="64">
					</a>
					
					</p>
					<p><font color="gray">
								&#169; 2012 Alima Direct Selling -</font>
					<a href="/legal"><font color="white">Legal &amp; privacy stuff</font></a>
					</p>
				</div>	
				<div>
					<center><br><br><br><br>
						<p><dt><font color="gray">{Made in Philippines} </font><a href="../user/index.php"><font color="gray">Home</font></a> | <a href="../info/about.php"><font color="gray">About Us</font></a> | <a href="../info/contact.php"><font color="gray">Contact Us</font></a> | <a href="../info/privacypolicy.php"><font color="gray">Privacy Policy</font></a> | <a href=""><font color="gray">&copy; ADSell 2012</font></p>
					</center>
				</div>
		</div>

<% endblock %>
