<% extends "base2.html" %>
<% block title %><%= title %><% endblock %>
<% block content %>
<br>
    <div class="row-fluid">
		<div class="span3" ng-controller="MenuCtrl">
				<ul class="nav nav-tabs nav-stacked">
					<li><a href="#/"><i class="icon-home"></i> Home</a> </li>
					<li><a href="#/profile"><i class="icon-user"></i> Profile</a> </li>
					<li><a href="#/change"><i class="icon-lock"></i> Change Password</a> </li>
					
					
				</ul>
				<ul class="nav nav-tabs nav-stacked">
					<li><a href="#/cart"><i class="icon-shopping-cart"></i> Cart <span class="badge badge-info">{{count()}}</span> </a></li>
					<li><a href="#/orders"><i class="icon-list-alt"></i> Orders <span class="badge badge-info">{{order}}</span> </a> </li>
				</ul>	
		</div><!--/.span -->
        		  
			<div class="span9">
				<div ng-view></div>
			</div><!--/row-->
	</div> <!-- /.row -->
     <!-- Footer
      ================================================== -->
		<div class="wrapper">
		</div class="push"></div>
		<div class="footer">
				<div class="container-fluid">
					<div class="pull-right">
						<div class="span4">
							<dl>
								<dt><font color="gray">Phone</font></dt>
								<dd>
								<p><font color="white">09306673054</font></p>
								</dd>
								<dt><font color="gray">Email</font></dt>
								<dd>
								<a href="mailto:adsell2012@gmail.com"><font color="white">adsell2012@gmail.com</font></a>
								</dd>
							</dl>
						</div>
						
						<div class="span4">
							<address>
								<dl>
								<dt><font color="gray">Address</font></dt>
									<dd>
										<a href="http://adsell.tk"><font color="white">
											Cadelina Bldg., Quezon Street
											<br>
											New Pandan, Panabo City, 
											<br>
											Davao del Norte, Philippines
											</font>
										</a>
									</dd>
								</dl>
							</address>
						</div>
					</div>
					<div id="plusone">
					<div class="g-plusone" data-size="tall"></div>
					</div>
					<p>
					<a href="http://twitter.com">
					<img alt="Twitter" height="64" src="../assets/img/twitter-logo.png" width="64">
					</a>
					<a href="https://www.facebook.com/pages/ADSell/142602325880399">
					<img alt="Facebook" height="64" src="../assets/img/fb.png" width="64">
					</a>
					<a href="http://www.plus.google.com">
					<img alt="Google" height="64" src="../assets/img/googleplus.png" width="64">
					</a>
					<a href="http://www.pinterest.com">
					<img alt="Pinterest" height="64" src="../assets/img/pin.png" width="64">
					</a>
					
					</p>
					<p><font color="gray">
								&#169; 2012 Alima Direct Selling -</font>
					<a href="/legal"><font color="white">Legal &amp; privacy stuff</font></a>
					</p>
				</div>	
				<div>
					<center><br><br><br><br>
						<p><dt><font color="gray">{Made in Philippines} </font><a href="../user/index.php"><font color="gray">Home</font></a> | <a href="../info/about.php"><font color="gray">About Us</font></a> | <a href="../info/contact.php"><font color="gray">Contact Us</font></a> | <a href="../info/privacypolicy.php"><font color="gray">Privacy Policy</font></a> | <a href=""><font color="gray">&copy; ADSell 2012</font></p>
					</center>
				</div>
		</div>

<% endblock %>
