<legend>Catalog</legend>


	<div class="controls controls-row">
		<input type="search" ng-model="search" class="span6"  placeholder="search product" />	
	</div>
	
	<div class="controls controls-row">
		<select ng-model="option.company" ng-options="c.name for c in companies" >
			<option value="">Filter By Company</option>
		</select>
		<select ng-model="option.category" ng-options="c.name for c in categories"  >
			<option value="">Filter By Category</option>
		</select>
	</div>
	
<div>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Product</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in products | filter: search">
				<td>{{product.name}} </td>
				<td><button class="btn btn-small" ng-click="add(product)"><i class="icon-shopping-cart"></i> Add to Cart</button> </td>
			</tr>
		</tbody>
	</table>
</div>
		
	