<legend>Orders</legend>
<img src="/assets/img/spinner.gif" alt="" ng-show="!spinner">
<div ng-show="!!spinner">
	<button class="btn" ng-click="reset()">Reset filter</button>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Order #</th>
				<th>Dealer</th>
				<th>Date</th>
				<th>Total</th>
				<th>DP</th>
				<th><input type="checkbox" ng-model="claimed" ng-click="filterClaim()"> Claim</th>
				<th><input type="checkbox" ng-model="paid" ng-click="filterPay()"> Pay</th>
				<th>Due</th>
				<th>TR</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="order in orders">
				<td><a ng-href="#/orders/{{order.id}}" class="btn btn-small btn-primary">{{order.id}}</a> </td>
				<td>{{order.user.fullname}} </td>
				<td>{{order.date * 1000 | date:'MM/dd/yyyy'}} </td>
				<td>{{order.total | currency: 'Php '}} </td>
				<td>{{order.downpayment | currency: 'Php '}} </td>
				<td><span ng-show="order.date_claimed != null">{{order.date_claimed *1000 | date: 'MM/dd/yyyy'}} </span><span ng-show="order.date_claimed == null"><a ng-href="#/orders/claim/{{order.id}}" class="btn btn-small">claim </a></span> </td>
				<td><span ng-show="order.date_paid != null">{{order.date_paid *1000 | date: 'MM/dd/yyyy'}} </span><span  ng-show="order.date_paid == null"><a ng-href="#/orders/pay/{{order.id}}" class="btn btn-small">pay</a> </span> </td>
				<td><span ng-show="order.due != null">{{order.due *1000 | date: 'MM/dd/yyyy'}} </span><span ng-show="order.due == null">None</span> </td>
				<td><span ng-show="order.date_claimed != null"><a target="_blank" ng-href="/order/{{order.id}}/receipt.pdf" class="btn">Receipt</a></span> </td>
			</tr>
		</tbody>
	</table>
</div>